@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello dears,  <a href="https://www.linkedin.com/in/khaledeltaweel/">this app was built using docker image by <h1><mark>Khaled Eltaweeeeel</mark></h1> </a>.</p>
</div>